.service{
    margin-top: 10rem;
    padding: 0 0 10rem;
    background-color: #f9f9f9;


    &__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        position: relative;
        top: -8rem;

        @media screen and (max-width: 1000px){
            grid-gap: 20px;
        }

        @include breakpoint(tablet){
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
        }

        @include breakpoint(mobile){
            grid-template-columns: repeat(1,1fr);
        }
    }
}

.card-service{
    background-color: $white;
    padding: 4rem 3rem;
    box-shadow: 5px 5px 10px rgba($black,.3);
    border-radius: 10px;
    transition: .3s ease;

    @include breakpoint(mobile){
        padding: 4rem 2rem;
    }

    &:hover{
        transform: translateY(-10px);

        @media screen and (max-width:1000px){
            transform: translateY(0);
        }
    }
    &__top{
        position: relative;
        margin-bottom: 2rem;

        &:before{
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1rem;
            transform: translateX(-50%);
            width: 20px;
            height: 2px;
            border-radius: 10px;
            background-color: $pink;
        }
    }

    &__icon{
        width: 100px;
        margin: 0 auto 2rem;

        &--svg{
            width: 100%;
        }

        &--path{
            fill: $blue;
        }
    }

    &__title{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
    }

    &__description{
        text-align: center;
    }
}