// Mixins FlexBox
@mixin flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin justify-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justify-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-space-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin justify-space-arround{
    -ms-flex-pack: distribute;
    justify-content: space-around
}

@mixin align-start{
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
@mixin align-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@mixin align-end{
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@mixin flex-wrap{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin flex-collumn{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


// Mixins Breakpoint
@mixin breakpoint($point){
    @if $point == small-mobile {
        @media (max-width:$small-mobile) { @content }; //450px
    }

    @if $point == mobile {
        @media (max-width:$mobile) { @content }; //600px
    }

    @if $point == small-tablet {
        @media (max-width:$small-tablet) { @content }; //768px
    }

    @if $point == tablet {
        @media (max-width:$tablet) { @content }; //900px
    }

    @if $point == desktop {
        @media (max-width:$desktop) { @content }; //1200px
    }

    @if $point == extra-desktop {
        @media (min-width:$extra-desktop) { @content }; //1800px
    }
}
