@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


//Variables Fonts
$font: 'Montserrat', sans-serif;

//Variables Colors
$white: #fff;
$black: #000;

$green: #A1D979;
$blue: #3B4259;
$pink: #D93D86;


// Variables Screen
$small-mobile: 450px; //450px
$mobile: 600px; //600px
$small-tablet: 768px; //768px
$tablet: 900px; //900px
$desktop: 1200px; //1200px
$extra-desktop: 1800px; //1800px